%html
  %head
    %title Trackifo ~ Pivotal Tracker activity notifications through Notifo
    %link{:href => '/screen.css', :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/iphone-icon.png", :rel => "apple-touch-icon"}
  %body
    #wrapper
      #header
        %h1
          %a{:href => "/"} Trackifo
          - if session['user_id']
            %span
              (
              %a{:href => "/bye"} Logout
              )
        %p Pivotal Tracker activity notifications through Notifo.

      - if flash[:notice]
        .flash
          = flash[:notice]

      = yield
      .fix

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9962705-9']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
